@import "@/assets/scss/colors.scss";
@import "@/assets/scss/fonts.scss";

html, body {
  overflow: auto !important;
  scroll-behavior: smooth !important;
}

a, button, input, select, textarea {
  transition: 0.3s;
}

@import "~bulma";
@import "~buefy/src/scss/buefy";
